a:link
{
  color:#000000;
}

a:visited
{
  color:#404040;
}

a:active
{
  color:#707070;
}

a:hover
{
  color:#909090;
}

body
{
  background-color:F0FFF0;
  color:#000000;
}

li
{
  text-align:justify;
}

p
{
  text-align:justify;
}

table.main{
  min-width: 640px;
  width:100%;
}

td.main
{
}

td.right
{
  width:160;
}

tr.main
{
  text-align:left;
  vertical-align:top;
}