a:active
{
  color:#7070C0
}

a:hover
{
  color:#9090F0
}

a:link
{
  color:#000050
}

a:visited
{
  color:#404090
}

body
{
  background-color:F0FFF0;
  color:#000000
}

li
{
  text-align:justify
}

p
{
  text-align:justify
}

table.main
{
  border:50
  width:100%
}

td.main
{
}

td.right
{
  width:160
}

tr.main
{
  border:1
  text-align:left;
  vertical-align:top;
}